{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Create TO DO Task</h3>
                <a href="/" class="btn btn-primary">Back</a>
            </div>

            <form action="/store" method="POST">
                <div class="mb-3">
                    <label for="task" class="form-label">Task</label>
                    <input type="text" name="task" id="task" class="form-control" required>
                </div>                
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock %}