{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>TO DO Task</h3>
                <div>
                    <a href="/create" class="btn btn-primary">Create Task</a>
                    {% if type == 'completed' %}
                        <a href="/" class="btn btn-primary">All Task</a>
                    {% else %}
                        <a href="/completed" class="btn btn-primary">Completed Task</a>
                    {% endif %}
                </div>
            </div>

            {% if tasks | length == 0 %}
                <p>No tasks found</p>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Content</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.id }}</td>
                                <td>
                                    {% if task.status == False %}
                                        <span class="badge bg-danger">Pending</span>
                                    {% else %}
                                        <span class="badge bg-success">Done</span>
                                    {% endif %}
                                </td>
                                <td>{{ task.content }}</td>
                                <td>
                                    <a href="/edit/{{ task.id }}" class="btn btn-primary">Edit</a>
                                    <a href="/update-status/{{ task.id }}" class="btn btn-success">
                                        {% if task.status == False %}
                                            Mark as Done
                                        {% else %}
                                            Mark as Pending
                                        {% endif %}
                                    </a>
                                    <a href="/delete/{{ task.id }}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}